DATABASE_TYPE = sqlite3
BROKER_TYPE = redis
BASE_URL = grafana.${DOMAIN}
FEATURE_PROMETHEUS_EXPORTER_ENABLED= True
PROMETHEUS_EXPORTER_SECRET = SECRET
REDIS_URI = redis://grafana-redis:6379/0
DJANGO_SETTINGS_MODULE = settings.hobby
CELERY_WORKER_QUEUE = "default,critical,long,telegram,webhook,retry,celery"
CELERY_WORKER_CONCURRENCY = "1"
CELERY_WORKER_MAX_TASKS_PER_CHILD = "100"
CELERY_WORKER_SHUTDOWN_INTERVAL = "65m"
CELERY_WORKER_BEAT_ENABLED = "True"
GRAFANA_API_URL = http://grafana:3000
GRAFANA_CLOUD_ONCALL_API_URL = https://oncall-prod-eu-west-0.grafana.net/oncall
GRAFANA_CLOUD_ONCALL_TOKEN = TOKEN

DOMAIN = http://localhost:8080
COMPOSE_PROFILES = with_grafana,with_prometheus
SECRET_KEY = KEY